<h1 style="text-align: center; margin-top: 45px">Que campus deseja cadastrar?</h1>

<%= render 'form', campus: @campus %>

<div class="d-flex justify-content-center">
    <%= link_to 'Voltar', campi_path, class:"btn btn-info mt-5", role:"button" %>
</div> 

